/*font-family: 'Roboto', sans-serif;*/

body {
  margin: 4;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eeeeee;
  background-color: #222222;
}

a {
  color: #fbfbfb;
}

table {
  background-color: #333333;
  margin: 1em;
}

td, th {
  text-align: right;
}

.error {
  position: absolute;
  top: 10;
  right: 15;
  background-color: khaki;
}


.player_view_header {
  font-weight: 400;
}

/* instead of setting padding, we could set overall width for container
and then distribute in flex box */
.headline_stat_container {
  display: flex;
}

.headline_stat > * {
  padding: 0px !important;;
  text-align: right;
}

.headline_stat {
  width: min-content;
  padding-right: 100px;
  line-height: 1.0;
}

.headline_stat_label {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF66;
}

.headline_stat_value {
  font-weight: 700;
  font-size: 64px;
}


.stat_detail_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  grid-template-areas: 
  "header header header"
  "avg_value high_value total_value"
  "avg_title high_title total_title"
  ;

  width: 160px;
  padding:10px 10px 10px 0px;
}

.stat_detail_container > * {
  /*border: 1px solid white;*/
}

.stat_detail_title {
  grid-area: header;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #FFFFFF;
}

.stat_detail_avg_title {
  grid-area: avg_title;
  text-transform: uppercase;
  color: #FFFFFF66;
}

.stat_detail_avg_value {
  grid-area: avg_value;
}

.stat_detail_high_title {
  grid-area: high_title;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF66;
}

.stat_detail_high_value {
  grid-area: high_value;
  text-align: right;
}

.stat_detail_total_title {
  grid-area: total_title;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF66;
}

.stat_detail_total_value {
  grid-area: total_value;
  text-align: right;
}